In [ ]:
############################################
# tuple example
#===========================================

In [2]:
tpl = 2, 3 # tuple
tpl

(2, 3)

In [3]:
tpl[0], tpl[1]

(2, 3)

In [4]:
############################################
# tuple is immutable
#============================================

try:
    tpl[0]=4
except:
    print('tuple can not be edited. You need to create a new one')

tuple can not be edited. You need to create a new one

In [5]:
new_tpl = 4, tpl[1]
new_tpl

(4, 3)

In [6]:
new_tpl = 4, *tpl[1:] # unpacking tpl[1:]
new_tpl

(4, 3)

In [7]:
####################################
# Parentheses '()' omitted
#==================================

(a, b) = 3, 4 # (a,b) is a tuple

a, b = 1, 2 # Parentheses '()' omitted
a, b

(1, 2)

In [8]:
###########################################################
# when comma is needed
###########################################################

In [9]:
# When a tuple has only one value
i = (1) # integer
i

1

In [10]:
tpl = (1, ) # tuple
tpl

(1,)

In [ ]:
###########################################################
# when parentheses are needed
###########################################################

In [11]:
# when a function takes a tuple as an argument
def echo_my_tuple(my_tuple: tuple):
    return my_tuple

my_tuple = (1, 2, 3)
echo_my_tuple(my_tuple)

(1, 2, 3)

In [12]:
# when ternary operator is used in substitution
is_done = False
index0 = 0
value0 = 0
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
idex1, value1 = (index0, value0) if is_done else max(enumerate(lst), key=lambda x: x[1])
idex1, value1

(5, 9)

In [27]:
#####################################################
# unpacking a tuple
#####################################################

In [29]:
tpl = (1, 2, 3)
a, b, c = tpl
a, b, c

(1, 2, 3)

In [34]:
a, b, c, d = *tpl, 4
a, b, c, d

(1, 2, 3, 4)

In [35]:
def add_my_values(a, b, c):
    return a + b + c

add_my_values(*tpl)

6

In [13]:
#####################################################
# Value error resulting from unpacking a tuple
#####################################################

def get_my_values():
    return (1,2,3)

In [14]:
# Correct unpacking
a, b, c = get_my_values()
a, b, c

(1, 2, 3)

In [15]:
# too many values to unpack (expected 2)
try:
    a, b = get_my_values()
except Exception as e:
    print(e)

too many values to unpack (expected 2)

In [16]:
# not enough values to unpack (expected 4, got 3)
try:
    a, b, c, d = get_my_values()
except Exception as e:
    print(e)

not enough values to unpack (expected 4, got 3)